.markdown-section .hints-alert a {
  color: #3c763d;
  text-decoration: underline;
}

.markdown-section .hints-alert a:hover {
  color: #444444;
}

.markdown-section table {
  font-size: 13px;
}

:lang(de) > q {
  quotes: "»" "«" "›" "‹";
}
